.error-message{
    text-align: center;
    padding-top: 1em;
    color: red;
    font-weight: bolder;
}

.success-container{
    text-align: center;
    padding-top: em;
    padding-bottom: 50em;
    font-size: var(--fs-h2);
}

/* register */

.register-title{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    /* font-size: larger; */
}

.register-container {
    margin:auto;
    width: 100%;
    height: 90vh;
    /* add background image */
    background: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./bubbles-backdrop.jpg);
    background-size: cover;
    /* background-blend-mode: soft-light; */
}

.register-form {
    background: var(--clr-light);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    opacity: 0.8;
}

.form-input{
    margin-bottom: 1em;
    margin-top: 1em;
}

.register-btn{
    display: inline-block;
    padding: 0.2em 2em; 
    background: var(--clr-accent);
    color: var(--clr-dark);
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: var(--fw-bold);
    border-radius: 0.5em;
    transition: transform 300ms ease-in-out;
    width: 40%;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.register-btn:hover {
    transform: scale(1.1);
  }

  /* login */

  .login-container {
    margin:auto;
    width: 100%;
    height: 90vh;
    /* padding-top: 5em; */
    /* padding-bottom: 5em; */
    /* add background image */
    background: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./nature-backdrop.jpg);
    background-size: cover;
    /* background-blend-mode: soft-light; */
}

/* add fish */

.addfish-container {
    margin:auto;
    width: 100%;
    height: 90vh;
    /* add background image */
    background: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./underwater-backdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: soft-light; */
}

.form-input-addfish{
    margin-bottom: 1em;
}

.register-title-addfish{
    text-align: center;
    padding-top: 0em;
    padding-bottom: 1em;
    /* font-size: larger; */
}

.danger-container{
    margin:auto;
    width: 100%;
    height: 90vh;
    /* add background image */
    background: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./jellyfish-backdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: soft-light; */
}

.dc-link{
    text-decoration: none;
    color: blue;
}

/* landing page - fish sales */

.listings-container{
    text-align: center;
    /* display: flex; */
    background-image: url(./seawater-backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    

}

.mapped-div{
    display: flex;
    flex-wrap: wrap;
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
}

.home-title{
    padding-top: 1em;
    margin-bottom: 0.6em;
}

.for-sale-card{
    padding: 1em;
    /* min-width: 0; */
    min-width: 45vw;
    max-width: 45vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 1em;
    background: var(--clr-light);
    opacity: 0.8;
    align-items: center;
}

